@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family:'Shadows Into Light Two', cursive;
    font-weight: bolder;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #7b3d0eaf;
}

h2{
    font-size: 40px;
    margin-top: 20px;
}

#decisaoTrasgo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10%;
}

#trasgo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 600px;
    background-color: #1d0e0573;
    text-align: center;
    border-radius: 10px;

}

#containerImg{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

img{
    height: 150px;
    width: 160px;
}


p{
    font-size: 20px;
    padding: 10px 10px 0 10px;
}