@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

body{
    height: 30vw;
    background-color: #FAF8FF;
}

h2{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 40px;
    margin-top: 40px;
}

#conteinerSubsolo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

#subsolo{
    width: 400px;
    height: 450px;
    background-color: #c9b1a227;
    text-align: center;
    border-radius: 10px

}

#containerImg{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}